apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  namespace: poc
  labels:
    app: webapp
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: webapp
